<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Text</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<section class="query-section">
    <div class="container">
        <h1 class="title">Submit Your Query</h1>
        <p class="subtitle">Please enter which note you want to interact with!</p>

        <form class="upload-query" id="uploadQuery" method="POST" action="/query">
            <input type="text" id="queryName" name="queryName" required placeholder="Query Name">
            
            <!-- Textarea for the note's content -->
            <textarea id="queryContent" name="queryContent" rows="10" required placeholder="Query Content"></textarea>
            <button type="submit" class="submit-btn">Submit Text</button>
        </form>
    </div>
</section>

</body>
</html>
